.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    margin-top: 2.75rem;
    width: 100%;
    justify-content: center;
}

.icon {
    font-size: 2.5rem;
    padding-right: 1rem;
}

.ariaIinvisible {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px;  
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}