.contentContainer {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 0 auto;
}

.contentTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentText {
    text-align: left;
}

@media screen and (max-device-width : 70.5em) {
    .contentContainer {
        flex-direction: column;
        align-items: center;
    }

    ul.contentContainer li:not(:last-child) {
        padding-bottom: 3rem;
    }
}